/* -----------------------------------------------------------------------------------------

FONTS

------------------------------------------------------------------------------------------- */

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Reg.otf');
}

@font-face {
	font-family: 'ProximaNova';
	font-style: italic;
	src: url('../fonts/ProximaNova-RegIt.otf');
}

@font-face {
	font-family: 'ProximaNova';
	font-weight: bold;
	src: url('../fonts/ProximaNova-Sbold.otf');
}



/* -----------------------------------------------------------------------------------------

MINI-RESET

------------------------------------------------------------------------------------------- */

html, body, h1, h2, h3, h4, h5, h6, p, input, ul, li {
	margin: 0;
	padding: 0;
}

a, button, input {
	outline: none;
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font: normal 100% 'ProximaNova', Arial, Helvetica, sans-serif;
}



/* -----------------------------------------------------------------------------------------

GENERAL/LAYOUT STYLES

------------------------------------------------------------------------------------------- */

.hide {
	display: none !important;
}

nav {
	/* the weebly official blue color - #2990ea; */
	/* picked from the mockup via colorzilla */
	background-color: #518DCA;
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	padding: 0 2em;
	position: relative;
	z-index: 1;
}

nav h1 {
	font-size: 0;
}

main {	
	border: 1px solid #ccc;
	display: flex; 
	width: 100%;
}

#sidebar {
	background-color: #2C3E50;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	width: 18%;
}

#pasteboard {
	background: #fff;
	position: relative;
	width: 82%;
}



/* -----------------------------------------------------------------------------------------

SIDEBAR STYLES

------------------------------------------------------------------------------------------- */

#sidebar h2 {
	background-color: #4F657B;
	border-top: 1px solid #111;
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	color: #95ACC2;
	font-size: 80%;
	letter-spacing: 1px;
	padding: 0.5em;
	position: relative;
	text-transform: uppercase;
}

.tools-pane {
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 0.5em;
	position: relative;
	width: 100%;
}

.tools-pane label {
	color: #485C70;
	font-size: 70%;
	font-weight: bold;
	letter-spacing: 1px;
}

.page-badge {
	background-color: #518DCA;
	border-radius: 0.33em;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	display: block; /* because this is an inline link normally */
	font-size: 80%;
	margin: 0.5em 1.5em;
	padding: 0.75em 1.5em;
	position: relative;
	text-align: left;
	text-decoration: none;
}

.page-badge.caution {
	background-color: #D86A65;
}

.page-badge label {
	color: #fff;
	font-size: inherit;
}

.page-badge .button {
	background: transparent url(../images/sprites/Add-Delete-Edit-Icons.png) -13px -13px no-repeat;
	border: none;
	cursor: pointer;
	float: right;
	font-size: 0;
	height: 14px;
	width: 14px;
}

.page-badge .button-remove-pg {
	background-position: -54px -13px;
}

.page-badge .button-edit-pg {
	background-position: -34px -13px;
}

.page-badge .button-edit-pg.active {
	background-position: -34px -32px;
}

.page-badge div {
	display: inline-block;
	position: absolute;
	right: 1.2em;
	top: 30%;
	visibility: hidden;
	z-index: 0;
}

.page-badge div .button {
	float: left;
	margin-left: 4px;
}

.page-badge:hover div {
	visibility: visible;
}

.page-badge input {
	background: transparent;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: inherit;
	width: 75%;
}

.add-new {
	border: 3px solid #485C70;
	border-radius: 0.33em;
	font-size: 80%;
	margin: 0.5em 1.5em 1.5em 1.5em;
	padding: 0.5em 1.25em;
	position: relative;
	text-align: left;
	text-transform: none;
}

.add-new > label, .add-new input {
	background: transparent;
	border: none;
	color: #485C70;
	display: inline-block;
	font-size: inherit;
	font-weight: bold;
	letter-spacing: 0;
	width: 85%;
}

.add-new .button-add-new-pg {
	background: #2C3E50 url(../images/sprites/Add-Delete-Edit-Icons.png) -14px -13px no-repeat;
	border: none;
	position: absolute;
	font-size: 0;
	height: 14px;
	width: 14px;
	right: 4%;
}

.add-new .button-add-new-pg:hover {
	background-position: -14px -32px;
}

.tools-elements {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	display: inline-block;
	list-style: none;
	padding: 1em;
	width: 50%;
}

.tools-elements label {
	display: block;
	padding-top: 0.5em;
}

.tools-elements .tool-icon {
	background: transparent url(../images/sprites/Element-icons.png) -8px -8px no-repeat;
	display: inline-block;
	height: 54px;
	width: 54px;
	z-index: 1;
}

.tools-elements .tool-icon.title {
	background-position: -8px -8px;
}

.tools-elements .tool-icon.text {
	background-position: -62px -8px;
}

.tools-elements .tool-icon.image {
	background-position: -116px -8px;
}

.tools-elements .tool-icon.nav {
	background-position: -170px -8px;
}

.tools-other .toggle {
	display: none;
}

.tools-other .toggle + label span {
	background: transparent url(../images/sprites/Toggle-Switch.png) -6px -6px no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin-left: 30%;
	vertical-align: middle;
	width: 50px;
}

.tools-other .toggle:checked + label span {
	background-position: -6px -56px;
}


/* -----------------------------------------------------------------------------------------

PASTEBOARD STYLES

------------------------------------------------------------------------------------------- */

#pasteboard {
	background: #fff;
	box-sizing: border-box;
	padding: 3em 5em;
}

#pasteboard .pagesNav li {
	display: inline-block;
	margin: 0 0.5em;
}

#pasteboard .pagesNav .button {
	background-color: #fff;
	border: 2px solid #4F657B;
	border-radius: 0.33em;
	color: #95ACC2;
	display: inline-block;
	font-size: 80%;
	padding: 0.75em 3em;
}

#pasteboard .pagesNav .button.selected {
	background-color: #95ACC2;
	color: #fff;
}

.placeholder {
	border: 1px solid #fff;
	border-radius: 0.25em;
	color: #555;
	margin: 2em 0;
	padding: 1em;
	position: relative;
}

.placeholder:hover {
	border-color: #8FC7FF;
}

.placeholder.caution {
	border-color: #D86A65;
}

.placeholder .delete-element {
	background: transparent url(../images/sprites/Delete-Element.png) top left no-repeat;
	cursor: pointer;
	display: none;
	height: 48px;
	position: absolute;
	right: -2px;
	top: -11px;
	width: 48px;
}

.placeholder:hover .delete-element {
	display: block;
}

.delete-element:hover {
	background-position: top right;
	right: -12px;
}

.image-placeholder {
	background: #eee url(../images/Image-Placeholder.png) center no-repeat;
	border: 2px solid #ccc;
	cursor: pointer;
	min-height: 10em;
	position: relative;
	text-align: center;
}

.image-placeholder small {
	bottom: 8%;
	color: #ccc;
	left: 0;
	position: absolute;
	width: 100%;
}

.text-placeholder {
	background-color: #fff;
}

.text-placeholder p {
	font-size: 80%;
	line-height: 1.5;
}

.text-placeholder textarea {
	border: none;
	font-size: 80%;
	line-height: 1.5;
	width: 100%;
}

.ui-resize-s {
	background: transparent url(../images/Resize-Bar.png) no-repeat; 
}


/* -----------------------------------------------------------------------------------------

TIDYING UP THINGS A BIT FOR NARROWER VIEWPORTS

------------------------------------------------------------------------------------------- */

@media (max-width: 1024px) {
	.tools-other .toggle + label span {
		margin-left: 10%;
	}
}

@media (max-width: 800px) {
	.tools-elements {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.add-new .button-add-new-pg {
		right: 20%;
	}

	.add-new > label, .add-new input {
		color: #485C70;
	}
}

@media (max-width: 528px) {
	.add-new .button-add-new-pg {
		right: 25%;
		top: 25%;
	}
}


/* -----------------------------------------------------------------------------------------

FOR RETINA SCREENS

------------------------------------------------------------------------------------------- */

@media only screen and (-webkit-device-pixel-ratio: 2){
	.page-badge .button {
		background-image: url(../images/sprites/Add-Delete-Edit-Icons@2x.png);
	}

	.tools-elements .tool-icon {
		background-image: url(../images/sprites/Element-icons@2x.png);
	}

	.tools-other .toggle + label span {
		background-image: url(../images/sprites/Toggle-Switch@2x.png);
	}	

	.image-placeholder {
		background-image: url(../images/Image-Placeholder@2x.png);
	}
}