<!doctype html>
<html ng-app="miniWeebly">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<title>Mini Weebly (ng)</title>
	<link rel="stylesheet" href="css/wtw.css" />
</head>
<body ng-controller="pgCtrl">
	<header>
		<nav>
			<h1><a href="/"><img src="images/Weebly-Logo.png" alt="Weebly Logo">Weebly</a></h1>
		</nav>
	</header>
	<main>
		<div id="sidebar">
			<div class="tools-block">
				<h2>templates</h2>
				<form name="editPageForm">
					<ul class="tools-pane tools-pages">
						<li ng-repeat="pageName in pages track by $index" class="page-badge" ng-class=" $caution.enabled ? 'caution' : '' ">
							<input type="text" ng-model="pageName" ng-disabled="!enabled" ng-keypress="($event.which === 13)?editPageName(pageName):0" select-contents />
							<!-- <input type="submit" class="hide" /> -->
							<div>
								<span ng-click="editEnable(pageName)" ng-class="{ active: enabled }" class="button button-edit-pg" ></span>
								<span class="button button-remove-pg" ng-click="removePage(pageName)"></span>
							</div>
						</li>
					</ul>
				</form>

				<form name="addPageForm" ng-submit="addPage()">
					<ul class="tools-pane tools-pages">
						<li id="add-new" class="add-new">
							<input type="text" ng-model="pageName" select-contents />
							<input type="submit" class="button button-add-new-pg" ng-disabled="!addPageForm.$dirty" />
						</li>
					</ul>
				</form>

			</div>
			<div id="content-tools" class="tools-block">
				<h2>elements</h2>
				<ul>
					<li class="tools-pane tools-elements">
						<div data-contenttype="title" class="tool-icon title"></div>
						<label>title</label>
					</li><li class="tools-pane tools-elements">
						<div data-contenttype="text" class="tool-icon text"></div>
						<label>text</label>
					</li><li class="tools-pane tools-elements">
						<div data-contenttype="image" class="tool-icon image"></div>
						<label>image</label>
					</li><li class="tools-pane tools-elements">
						<div data-contenttype="nav" class="tool-icon nav"></div>
						<label>nav</label>
					</li>
				</ul>
			</div>

			<div class="tools-block">
				<h2>settings</h2>
				<div class="tools-pane tools-other">
					<input type="checkbox" id="toggle-site-grid" name="toggle-site-grid" class="toggle"><label for="toggle-site-grid">site grid<span></span></label>
				</div>
			</div> 
		</div><div id="pasteboard">
			<ul class="pagesNav">
				<li ng-repeat="pageName in pages track by $index"><a href="#/pages/{{pageName}}" class="button">{{pageName}}</a></li>
			</ul>
			<!-- all the cuatom content in a 'page' lives inside this <ul> -->
			<ul id="content-added-items">
				<li class="title-placeholder placeholder">
					<span class="delete-element"></span>
					<h1>Add Title Here</h1>
				</li>
				<li class="image-placeholder placeholder">
					<span class="delete-element"></span>
					<img src="images/Image-Placeholder.png" alt="placeholder image" />
				</li>
				<li class="text-placeholder placeholder">
					<span class="delete-element"></span>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				</li>
			</ul>
 		</div>
	</main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>

	<!-- drag-and-drop implementation in angularjs - from https://github.com/angular-ui/ui-sortable -->
	<script src="js/vendor/sortable.js"></script>
	
	<!-- controllers and other custom scripts -->
	<script src="js/wtw.js"></script>

</body>
</html>